<h4>Internal Server Error</h4>
@if  (error) {
    <h5 class="text-danger">Error: {{ error.message }}</h5>
    <p class="foud-weight-bold">Note: If you are seeing this error then angular is not to blame</p>
    <p>What to do next</p>
    <ol>
        <li>Open chrome dev tools and check the failing network request in the network tab</li>
        <li>Examine the URL of the failing request</li>
        <li>Reproduce the error in postman - if you can reproduce the error then angular is not blame</li>
    </ol>
    <p class="foud-weight-bold">Following ia the stack trase - check the first 
        2 lines this tells you exactly which line of code caused the problem </p>
      <code class="mt-5" style="background-color: whitesmoke;">
        {{ error.details }}
      </code>  
}
