<h1>{{ 'home.title' | transloco }}</h1><p>{{ 'home.intro' | transloco }}</p>
<table><thead><tr><th>{{ 'home.module' | transloco }}</th><th>{{ 'home.purpose' | transloco }}</th><th>{{ 'home.state' | transloco }}</th></tr></thead><tbody>
<tr><td>{{ 'home.masterData' | transloco }}</td><td>{{ 'home.masterDataPurpose' | transloco }}</td><td>{{ 'home.planned' | transloco }}</td></tr>
<tr><td>{{ 'home.shiftReports' | transloco }}</td><td>{{ 'home.shiftPurpose' | transloco }}</td><td>{{ 'home.uiShell' | transloco }}</td></tr>
<tr><td>{{ 'home.quality' | transloco }}</td><td>{{ 'home.qualityPurpose' | transloco }}</td><td>{{ 'home.planned' | transloco }}</td></tr>
<tr><td>{{ 'home.reports' | transloco }}</td><td>{{ 'home.reportsPurpose' | transloco }}</td><td>{{ 'home.planned' | transloco }}</td></tr>
</tbody></table>
