<h1>Модулі сістэмы</h1><p>Аперацыйная абалонка LeanProd для першай ітэрацыі.</p>
<table><thead><tr><th>Модуль</th><th>Прызначэнне</th><th>Стан</th></tr></thead><tbody>
<tr><td>Даведнікі</td><td>Падраздзяленні, абсталяванне, прадукцыя</td><td>Запланавана</td></tr>
<tr><td>Зменныя справаздачы</td><td>Выпуск, прастоі і адходы за змену</td><td>UI shell</td></tr>
<tr><td>Якасць</td><td>Рэгістрацыя бракаванай прадукцыі</td><td>Запланавана</td></tr>
<tr><td>Справаздачы</td><td>Нарматывы і вытворчыя паказчыкі</td><td>Запланавана</td></tr>
</tbody></table>
